.container {
    width: 80%;
    height: 100px;
    margin: 0 auto;
    object-fit: contain;
   
}

header {
    background: #7FC6A4;
}

header ::after {
    content: '';
    display: table;
    clear: both;
}

#logo {
    float: left;
    padding: 10px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 80px;
    font-size: 23px;
    font-weight: 300;
    padding-top: 60px;
}

nav a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: white;
}

#about {
    font-size: 25px;
    padding-top: 150px;
}

#table {
    table-layout: auto;
    border: yellow;
    display: inline-table;
}