h1 { 
    text-align: center;
}

li {
    font-weight: bold;

}

#list-items {
    font-size: large;
}

.navbar {
    float: right;
    overflow: hidden;
    background-color: lightslategrey;
    position: fixed;
    top: 0%;
    width: 100%;
}

.navbar a {
    float: left;
    display: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

